{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<link href="{% static 'polls/css/3.css' %}" rel="stylesheet" media="screen">
<script src="{% static 'polls/bootstrap.min.js' %}"></script>
<script src="{% static 'polls/js/jquery-1.10.2.js' %}"></script>

<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        
        display: block;
        font-size: 12px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
    .error {
	
	font-size:11px;
}

</style>
</head>
<body>
	<div class="container">
		<div class="row navbar-fixed-top" id='header'>
			<div class="col-md-8"></div>
			<div class="col-md-4"><a href="{% url 'polls:index' %}" ><h1>Polls & Choices</h1></a></div>
		</div>
	<div class="row" id="nav">
	<h2>Edit your details {{ username }}</h2>
	</div>
	<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
	{% if form.errors %}
	<p>Please correct the error{{form.errors|pluralize}} below.</p>
	{% endif %}
	{% if error_message %}<p class="error"><strong>{{ error_message }}</strong></p>{% endif %}
	</div>
	<div class="col-md-4"></div>
	</div>
	<form class="form-horizontal rmk" role="form" action="{% url 'polls:manage_account' user_id %}" method="POST" name="form2">{% csrf_token %}
	<div class="form-group">
		<label  for="id_username" class="col-sm-4 control-label">Username:</label> 
		 <div class="col-sm-4"><input id="id_username" maxlength="30" name="username" type="text" value = "{{username}}" class="form-control" placeholder="Username" /></div>
		<div class="col-sm-4">{{ form.username.errors }}</div>
	</div>
	<div class="form-group">
		<label  for="id_email" class="col-sm-4 control-label">E-Mail:</label> 
		<div class="col-sm-4"><input id="id_email" name="email" type="email" placeholder="Enter your E-Mail" value="{{email}}"class="form-control" /></div> 
		<div class="col-sm-4">{{ form.email.errors }}</div>
	</div>
	<div class="form-group">
		<label  for="password1" class="col-sm-4 control-label">Password:</label> 
		<div class="col-sm-4"><input id="password1" name="password1" type="password" placeholder="Enter Password" class="form-control" /></div> 
		<div class="col-sm-4">{{ form.password1.errors }}</div>
	</div>
	<div class="form-group">
		<label  for="password2" class="col-sm-4 control-label">Confirm Password:</label> 
		<div class="col-sm-4"><input id="password2" name="password2" type="password" placeholder="Enter password Again" class="form-control" /></div> 
		<div class="col-sm-4">{{ form.password2.errors }}</div>
	</div>
	<div class="form-group">
		<label  for="first_name" class="col-sm-4 control-label">First-Name:</label> 
		<div class="col-sm-4"><input id="first_name"  maxlength="50" name="first_name" type="text" value="{{first_name}}"placeholder="Enter First Name" class="form-control" /></div> 
		<div class="col-sm-4">{{ form.first_name.errors }}</div>
	</div>
	<div class="form-group">
		<label  for="last_name" class="col-sm-4 control-label">Last-Name:</label> 
		<div class="col-sm-4"><input id="last_name"  maxlength="50" name="last_name" value="{{last_name}}"type="text" placeholder="Enter Last Name" class="form-control" /></div> 
		<div class="col-sm-4">{{ form.last_name.errors }}</div>
	</div>
	<a href="{% url 'avatar_change' %}">Change your avatar</a>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-8"><input type="submit" value="Modify" class="btn btn-success" /></div>
		<div class="col-sm-offset-4 col-sm-8"><a class="btn btn-danger" onclick="myFunction()" href="" id='delete' >Delete Account</a></div>
	</div>
	</form>
	<div class="row">
			<nav class="navbar navbar-default navbar-fixed-bottom" id="footer" role="navigation">
			<a class="navbar-brand" href="{% url 'polls:index' %}">Home</a>
			<p class="navbar-text navbar-right">© 2014 Nyros Technologies. All Rights Reserved.</p>
			</nav>
		</div>
</div>
<script>
function myFunction()
{
var x;
var r=confirm("Are You Sure?You want to delete your Account?");
if (r==true)
  {
  $("#delete").attr("href","{% url 'polls:delete_account' %}")
  }
else
  {
  }
}
</script>

</body>
{% endblock %}
